@font-face {
  font-family: "Borel";
  src: url("/Users/andrarajaste/iti0209_2025/html_proto/public/fonts/Borel-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABeeZee";
  src: url("/Users/andrarajaste/iti0209_2025/html_proto/public/fonts/ABeeZee-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "ABeeZee", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/Users/andrarajaste/iti0209_2025/html_proto/public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

:root {
  --custom-color: #ff5733;
}
